<!DOCTYPE html>
<html lang="jp" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>ログインデモ</title>
</head>
<body>
<link rel="apple-touch-icon" th:href="@{/media/logo192.png}"/>
<div class="main-wrap">
  <form class="form-signin" th:action="@{/login}" method="post">
    <p>
      <input type="text" id="username" name="username" class="form-control" placeholder="ユーザID" required autofocus>
    </p>
    <p>
      <input type="password" id="password" name="password" class="form-control" placeholder="パスワード" required>
    </p>
    <button class="btn btn-lg btn-primary btn-block" type="submit">ログイン</button>
  </form>
  <div class="login-form">
    <h3>ログイン</h3>
    <div class="login-button">
      <a th:href="@{/oauth2/authorization/github}">
        <span><i class="fab fa-github"></i>GitHubでログイン</span>
      </a>
    </div>
    <div class="login-button">
      <a th:href="@{/oauth2/authorization/google}">
        <span><i class="fab fa-google"></i>Googleでログイン</span>
      </a>
    </div>
  </div>
</div>
</body>
</html>
